html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: red;
    animation: mymove 5s infinite;
    
}
@keyframes mymove {
    from {background-color: rgb(221, 240, 243);}
    to {background-color: rgb(227, 248, 187);}
    

  }
  
h1 {
    font-size: 8vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 100%;
    border: 1px;
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

#head {
    flex: 2;

    
    
    border-style: solid;
    text-align: center;
}

#content {
    display: flex;
    flex: 6;
    justify-content: space-evenly;
    border: 5px;
    border-color: rgb(172, 228, 230);
    border-width: 5px;
    border-style: solid;
}

#control {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
    border-style: solid;
}

#slider {
    flex: 1;
    border: 5px;
    border-color: rgba(250, 219, 119, 0.705);
    border-width: 10px;
    border-style: solid;
}

#graph {
    flex: 5;
    border: 10px;
    border-color: rgba(224, 119, 172, 0.87);
    border-width: 10px;
    border-style: solid;
}

#sketch-holder {
    flex: 1;
    border: 10px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

#foot {
    flex: 1;
    border: 10px;
    border-color: gray;
    border-width: 10px;
    border-style: solid;
}




/*.container p {
    color: black;
    font-family: monospace;
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
 /* @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  /*@keyframes blink-caret {
    from, to { border-color: transparent }
    5%{ border-color: orange }
  }
*/

/*body {
    
    background: red;
    animation: mymove 5s infinite;
  }*/
